*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Alegreya_SC;
    src: url(../fonts/Alegreya_SC/AlegreyaSC-Regular.ttf);
}
@font-face {
    font-family: Nixie_One;
    src: url(../fonts/Nixie_One/NixieOne-Regular.ttf);
}
@font-face {
    font-family: Montsserat;
    src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}
html {
    font-size: 1rem;
    font-family: Alegreya_SC, Arial, Helvetica, sans-serif;
    color: #6A6A6A;
}
img{
    max-width: 100%;
}
.text {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    margin-top: 2vh;
}
.h3_grey{
    color: #3A4F52;
    font-size: 2rem;
}
.h3_white{
    color: white;
    font-size: 2rem;
}
h4 {
    font-size: 2rem;
}
h5{
    color: #3A4F52;
    font-size: 1.8rem;
    margin-top: 2vh;
}
.white{
    color: white;
}
a {
    text-decoration: none;
    color: #4DA7CA;
}
.bold {
    font-weight: bold;
}

/* ------HEADER-------- */

header{
    background-image:url(../img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 2vh 2vh;
    color: white;
}
header nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
header nav h2{
    font-size: 2rem;
}
header nav img {
    max-width: auto;
    height: 20px;
}
header section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Nixie_One, Arial, Helvetica, sans-serif;
    margin: 33vh 0;
}
header section h1{
    font-size: 3rem;
    font-weight:initial;
}
header section p{
    font-size: 1rem;
    color: hsla(0, 0%, 100%, 0.50);
}

/* --------MAIN-------- */

main{
    /* padding: 2vh 2vh; */
    width: 100%;
}
/* -----*latest works---- */

.latest_works { 
    display: flex;
    flex-direction: column;
    padding: 4vh 5vw;
    line-height: 6vh;
}
.head_latest_works {
    display: flex;
    justify-content: space-between;
    height: 13vh;
}
.view_all {
    width: 15vh;
    height: 7vh;
    border: 1px solid #3A4F52;
    color: #3A4F52;
    font-size: 1rem;
}
.pics_latest_work {
    margin-top: 3vh ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 2vh 2vh;
    object-fit: cover;

}
.pics_latest_work img {
    object-fit: cover;
    height: 30vh;
    width: 100%;
    object-position: center;
    transition: all 1s linear;
}
.pics_latest_work div{
    overflow: hidden;
}
.pics_latest_work div img:hover{
    transform: scale(2.5);
    opacity: 50%;
}
.pics_latest_work div:hover{
    background-color: rgb(16, 70, 34);
}
.pics_latest_work img:nth-of-type(1){
    grid-column: 1/2;
    grid-row: 1/2;
}
.pics_latest_work img:nth-of-type(2){
    grid-column: 2/3;
    grid-row: 1/2;
}
.pics_latest_work img:nth-of-type(3){
    grid-column: 3/4;
    grid-row: 1/2;
}
.pics_latest_work img:nth-of-type(4){
    grid-column: 1/2;
    grid-row: 2/3;
}
.pics_latest_work img:nth-of-type(5){
    grid-column: 2/3;
    grid-row: 2/3;
}
.pics_latest_work img:nth-of-type(6){
    grid-column: 3/4;
    grid-row: 2/3;
}
/* -----*services---- */

.our_services {
    margin-top: 15vh;
    padding-top: 30vh;
    background-image: url(../img/services.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.background_service{   
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 55vh;
    padding-top: 2vh;
}
.services{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.first_service {
    width: 30%;
}
.second_service {
    width: 30%;
}
.third_service {
    width: 30%;
}

/* ---------*Blog----------- */

.blog {
    padding: 4vh 5vw;
}
.headline_blog {
    display: flex;
    justify-content: space-between;
}
.three_blogs {
    display: flex;
    justify-content: space-between;
    margin-top: 7vh;
}
.three_blogs a{
    margin-top: 2vh;
}
.first_blog {
    display: flex;
    flex-direction: column;
    width: 31%;
}
.second_blog {
    display: flex;
    flex-direction: column;
    width: 31%;
}
.third_blog {
    display: flex;
    flex-direction: column;
    width: 31%;
}

/* -----*Free Quote---- */

.free_quote {
    margin-top: 5vh;
    padding: 5vh 17vh;
    background-image: url(../img/free_quote.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.background_quote {
    padding: 3vh 3vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote {
    color: white;
    font-size: 1.7rem;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.get_quote {
    margin-top: 9vh;
    padding: 1vh 1vh;
    background: none;
    color: white;
    border: 1px solid white;
}

/* ---------*Testimonials--------- */

.testimonials {
    margin-top: 5vh;
    padding: 4vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.three_customers {
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    object-fit: cover;
}
.first_customer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 29%;
    text-align: center;
    object-fit: cover;
}
.second_customer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 29%;
    text-align: center;
}
.third_customer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 29%;
    text-align: center;
    object-fit: cover;
}
.testimonials img {
    border-radius: 50%;
    height: 150px;
    width:  150px;
    object-fit: cover;
}
.name_position {
    font-family: Montserrat, Arial, Helvetica, sans-serif;;
    margin-top: 2vh;
}

/* -------*Contact US-------------- */

.section_form {
    margin-top: 5vh;
    padding: 5vh 0;
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.form {
    padding: 2vh 5vw;
    background-color: rgba(0, 0, 0, 0.2); 
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
    margin: auto;
    border-radius: 5px;
}
.input_style {
    padding: 1vh;
    width: 50vh;
    border: 1px solid white;
    border-radius: 2px;
    background: none;
    color: white;
}
.submit {
    margin-top: 2vh;
    padding: 1vh;
    color: white;
    border: 1px solid white;
    background: none;
}
.form p {
    margin-bottom: 5vh;
}
::-webkit-input-placeholder {
    color: white;
    font-weight: lighter;
}

 /* -------Footer---------- */

 footer {
    padding-left: 10vw;
    height: 10vh;
    background-color: #1e3b68;
    display: flex;
    align-items: center;
    color: white;
 }


