*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Alegreya_SC;
    src: url(../fonts/Alegreya_SC/AlegreyaSC-Regular.ttf);
}
@font-face {
    font-family: Nixie_One;
    src: url(../fonts/Nixie_One/NixieOne-Regular.ttf);
}
@font-face {
    font-family: Montsserat;
    src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}
html {
    font-size: 1rem;
    font-family: Alegreya_SC, Arial, Helvetica, sans-serif;
    color: #6A6A6A;
}
img{
    max-width: 100%;
}
.text {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    margin-top: 2vh;
}
.h3_grey{
    color: #3A4F52;
    font-size: 2rem;
}
.h3_white{
    color: white;
    font-size: 2rem;
}
h4 {
    font-size: 2rem;
}
.white{
    color: white;
}

/* ------HEADER-------- */

header{
    background-image:url(../img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 2vh 2vh;
    color: white;
}
header nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
header nav h2{
    font-size: 2rem;
}
header nav img {
    max-width: auto;
    height: 20px;
}
header section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Nixie_One, Arial, Helvetica, sans-serif;
    margin: 33vh 0;
}
header section h1{
    font-size: 3rem;
    font-weight:initial;
}
header section p{
    font-size: 1rem;
    color: hsla(0, 0%, 100%, 0.50);
}

/* --------MAIN-------- */

main{
    /* padding: 2vh 2vh; */
    width: 100%;
}
/* -----*latest works---- */

.latest_works { 
    display: flex;
    flex-direction: column;
    padding: 4vh 5vw;
    line-height: 6vh;
}
.head_latest_works {
    display: flex;
    justify-content: space-between;
    height: 13vh;
}
.view_all {
    width: 15vh;
    height: 7vh;
    border: 1px solid #3A4F52;
    color: #3A4F52;
    font-size: 1rem;
}
.pics_latest_work {
    margin-top: 3vh ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 3vh 3vh;
    object-fit: cover;
}
.pics_latest_work img {
    height: 30vh;
    width: 100%;
}
.pics_latest_work img:nth-of-type(1){
    grid-column: 1/2;
    grid-row: 1/2;
}
.pics_latest_work img:nth-of-type(2){
    grid-column: 2/3;
    grid-row: 1/2;
}
.pics_latest_work img:nth-of-type(3){
    grid-column: 3/4;
    grid-row: 1/2;
}
.pics_latest_work img:nth-of-type(4){
    grid-column: 1/2;
    grid-row: 2/3;
}
.pics_latest_work img:nth-of-type(5){
    grid-column: 2/3;
    grid-row: 2/3;
}
.pics_latest_work img:nth-of-type(6){
    grid-column: 3/4;
    grid-row: 2/3;
}
/* -----*services---- */

.our_services {
    margin-top: 15vh;
    padding-top: 30vh;
    background-image: url(../img/services.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.background_service{   
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 55vh;
    padding-top: 2vh;
}
.services{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.first_service {
    width: 30%;
}
.second_service {
    width: 30%;
}
.third_service {
    width: 30%;
}

/* ---------*Blog----------- */
.blog {
    padding: 4vh 5vw;

}
.headline_blog {
    display: flex;
    justify-content: space-between;
}
.first_blog {
    width: 30%;
    height: 40vh;
    background-color: red;
}
.second_blog {
    width: 30%;
    height: 40vh;
    background-color: red;
}
.third_blog {
    width: 30%;
    height: 40vh;
    background-color: red;
}